In [1]:
import sys
import pandas as pd

input_files = '/home/jeong/c&c/foundations-for-analytics-with-python/csv/supplier_data.csv'
output_files = '/home/jeong/c&c/csv_output/num1.csv'
output_dir = '/home/jeong/c&c/csv_output/'

input_files2 = '/home/jeong/c&c/foundations-for-analytics-with-python/csv/supplier_data_no_header_row.csv'
data = pd.read_csv(input_files)
own_data = pd.read_csv(input_files)

print(data)

   Supplier Name Invoice Number  Part Number     Cost Purchase Date
0     Supplier X       001-1001         2341  $500.00       1/20/14
1     Supplier X       001-1001         2341  $500.00       1/20/14
2     Supplier X       001-1001         5467  $750.00       1/20/14
3     Supplier X       001-1001         5467  $750.00       1/20/14
4     Supplier Y        50-9501         7009  $250.00       1/30/14
5     Supplier Y        50-9501         7009  $250.00       1/30/14
6     Supplier Y        50-9505         6650  $125.00        2/3/14
7     Supplier Y        50-9505         6650  $125.00        2/3/14
8     Supplier Z       920-4803         3321  $615.00        2/3/14
9     Supplier Z       920-4804         3321  $615.00       2/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14

In [2]:
data['Cost'] = data['Cost'].str.strip('$')
print(data)

   Supplier Name Invoice Number  Part Number    Cost Purchase Date
0     Supplier X       001-1001         2341  500.00       1/20/14
1     Supplier X       001-1001         2341  500.00       1/20/14
2     Supplier X       001-1001         5467  750.00       1/20/14
3     Supplier X       001-1001         5467  750.00       1/20/14
4     Supplier Y        50-9501         7009  250.00       1/30/14
5     Supplier Y        50-9501         7009  250.00       1/30/14
6     Supplier Y        50-9505         6650  125.00        2/3/14
7     Supplier Y        50-9505         6650  125.00        2/3/14
8     Supplier Z       920-4803         3321  615.00        2/3/14
9     Supplier Z       920-4804         3321  615.00       2/10/14
10    Supplier Z       920-4805         3321  615.00       2/17/14
11    Supplier Z       920-4806         3321  615.00       2/24/14

In [3]:
data['Cost'] = data['Cost'].astype(float)
print(data)

   Supplier Name Invoice Number  Part Number   Cost Purchase Date
0     Supplier X       001-1001         2341  500.0       1/20/14
1     Supplier X       001-1001         2341  500.0       1/20/14
2     Supplier X       001-1001         5467  750.0       1/20/14
3     Supplier X       001-1001         5467  750.0       1/20/14
4     Supplier Y        50-9501         7009  250.0       1/30/14
5     Supplier Y        50-9501         7009  250.0       1/30/14
6     Supplier Y        50-9505         6650  125.0        2/3/14
7     Supplier Y        50-9505         6650  125.0        2/3/14
8     Supplier Z       920-4803         3321  615.0        2/3/14
9     Supplier Z       920-4804         3321  615.0       2/10/14
10    Supplier Z       920-4805         3321  615.0       2/17/14
11    Supplier Z       920-4806         3321  615.0       2/24/14

In [4]:
data_re1 = data.loc[(data['Supplier Name'].str.contains('Z'))]
data_re2 = data.loc[(data['Invoice Number'].str.contains('50'))]
print(data_re1)
print(data_re2)

   Supplier Name Invoice Number  Part Number   Cost Purchase Date
8     Supplier Z       920-4803         3321  615.0        2/3/14
9     Supplier Z       920-4804         3321  615.0       2/10/14
10    Supplier Z       920-4805         3321  615.0       2/17/14
11    Supplier Z       920-4806         3321  615.0       2/24/14
  Supplier Name Invoice Number  Part Number   Cost Purchase Date
4    Supplier Y        50-9501         7009  250.0       1/30/14
5    Supplier Y        50-9501         7009  250.0       1/30/14
6    Supplier Y        50-9505         6650  125.0        2/3/14
7    Supplier Y        50-9505         6650  125.0        2/3/14

In [5]:
data_dis = ['2/10/14']
data_re3 = data.loc[data['Purchase Date'].isin(data_dis), :]
print(data_re3)

data_dis1 = ['7009']
data_re4 = data.loc[data['Part Number'].isin(data_dis1), :]
print(data_re4)

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
9    Supplier Z       920-4804         3321  615.0       2/10/14
  Supplier Name Invoice Number  Part Number   Cost Purchase Date
4    Supplier Y        50-9501         7009  250.0       1/30/14
5    Supplier Y        50-9501         7009  250.0       1/30/14

In [6]:
data_re3.to_csv(output_dir+'datat_re3.csv', index=False)

In [7]:
data_re4 = data.loc[data['Invoice Number'].str.startswith("50"),:] # & data['Part Number'].str.endswith("09"), :]
data_re5 = data.loc[data['Invoice Number'].str.endswith("01"), :]
print(data_re4)
print(data_re5)

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
4    Supplier Y        50-9501         7009  250.0       1/30/14
5    Supplier Y        50-9501         7009  250.0       1/30/14
6    Supplier Y        50-9505         6650  125.0        2/3/14
7    Supplier Y        50-9505         6650  125.0        2/3/14
  Supplier Name Invoice Number  Part Number   Cost Purchase Date
0    Supplier X       001-1001         2341  500.0       1/20/14
1    Supplier X       001-1001         2341  500.0       1/20/14
2    Supplier X       001-1001         5467  750.0       1/20/14
3    Supplier X       001-1001         5467  750.0       1/20/14
4    Supplier Y        50-9501         7009  250.0       1/30/14
5    Supplier Y        50-9501         7009  250.0       1/30/14

In [8]:
print(own_data)

   Supplier Name Invoice Number  Part Number     Cost Purchase Date
0     Supplier X       001-1001         2341  $500.00       1/20/14
1     Supplier X       001-1001         2341  $500.00       1/20/14
2     Supplier X       001-1001         5467  $750.00       1/20/14
3     Supplier X       001-1001         5467  $750.00       1/20/14
4     Supplier Y        50-9501         7009  $250.00       1/30/14
5     Supplier Y        50-9501         7009  $250.00       1/30/14
6     Supplier Y        50-9505         6650  $125.00        2/3/14
7     Supplier Y        50-9505         6650  $125.00        2/3/14
8     Supplier Z       920-4803         3321  $615.00        2/3/14
9     Supplier Z       920-4804         3321  $615.00       2/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14

In [22]:
re_data1 = own_data['Cost'].str.strip('$')
re_data2 = re_data1.astype(float)
print(re_data1)
print(re_data2)

0     500.00
1     500.00
2     750.00
3     750.00
4     250.00
5     250.00
6     125.00
7     125.00
8     615.00
9     615.00
10    615.00
11    615.00
Name: Cost, dtype: object
0     500.0
1     500.0
2     750.0
3     750.0
4     250.0
5     250.0
6     125.0
7     125.0
8     615.0
9     615.0
10    615.0
11    615.0
Name: Cost, dtype: float64

In [23]:
print(own_data)

   Supplier Name Invoice Number  Part Number     Cost Purchase Date
0     Supplier X       001-1001         2341  $500.00       1/20/14
1     Supplier X       001-1001         2341  $500.00       1/20/14
2     Supplier X       001-1001         5467  $750.00       1/20/14
3     Supplier X       001-1001         5467  $750.00       1/20/14
4     Supplier Y        50-9501         7009  $250.00       1/30/14
5     Supplier Y        50-9501         7009  $250.00       1/30/14
6     Supplier Y        50-9505         6650  $125.00        2/3/14
7     Supplier Y        50-9505         6650  $125.00        2/3/14
8     Supplier Z       920-4803         3321  $615.00        2/3/14
9     Supplier Z       920-4804         3321  $615.00       2/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14

In [38]:
#part number에서 3321을 찾아라
re_data3 = own_data.loc[own_data['Part Number'].astype(str).str.contains('3321'), :]
re_data4 = own_data.loc[(own_data['Supplier Name'].str.contains('Z'))]

print(re_data3)
print(re_data4)

   Supplier Name Invoice Number  Part Number     Cost Purchase Date
8     Supplier Z       920-4803         3321  $615.00        2/3/14
9     Supplier Z       920-4804         3321  $615.00       2/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14
   Supplier Name Invoice Number  Part Number     Cost Purchase Date
8     Supplier Z       920-4803         3321  $615.00        2/3/14
9     Supplier Z       920-4804         3321  $615.00       2/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14

In [39]:
search_data = ['6650']
re_data5 = own_data.loc[own_data['Part Number'].isin(search_data),:]
print(re_data5)

  Supplier Name Invoice Number  Part Number     Cost Purchase Date
6    Supplier Y        50-9505         6650  $125.00        2/3/14
7    Supplier Y        50-9505         6650  $125.00        2/3/14

In [46]:
re_data6 = own_data.loc[own_data['Part Number'].astype(str).str.startswith('66'),:]
re_data7 = own_data.loc[own_data['Part Number'].astype(str).str.endswith('21'),:]
print(re_data6)
print(re_data7)

  Supplier Name Invoice Number  Part Number     Cost Purchase Date
6    Supplier Y        50-9505         6650  $125.00        2/3/14
7    Supplier Y        50-9505         6650  $125.00        2/3/14
   Supplier Name Invoice Number  Part Number     Cost Purchase Date
8     Supplier Z       920-4803         3321  $615.00        2/3/14
9     Supplier Z       920-4804         3321  $615.00       2/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14

In [54]:
#특정 열을 뽑아올 때 사용
re_data8 = own_data.iloc[:,[0,3]]
re_data9 = own_data.loc[:,['Cost']]
print(re_data8)
print(re_data9)

re_data8.to_csv(output_dir + 'test4.csv', index = False)

   Supplier Name     Cost
0     Supplier X  $500.00
1     Supplier X  $500.00
2     Supplier X  $750.00
3     Supplier X  $750.00
4     Supplier Y  $250.00
5     Supplier Y  $250.00
6     Supplier Y  $125.00
7     Supplier Y  $125.00
8     Supplier Z  $615.00
9     Supplier Z  $615.00
10    Supplier Z  $615.00
11    Supplier Z  $615.00
       Cost
0   $500.00
1   $500.00
2   $750.00
3   $750.00
4   $250.00
5   $250.00
6   $125.00
7   $125.00
8   $615.00
9   $615.00
10  $615.00
11  $615.00

In [61]:
print(own_data)
own_data = own_data.drop([0,1,2,9,10,11])
own_data.columns = own_data.iloc[0]
own_data = own_data.reindex(data.index.drop(3))

print(own_data)

   Supplier Name Invoice Number  Part Number     Cost Purchase Date
0     Supplier X       001-1001         2341  $500.00       1/20/14
1     Supplier X       001-1001         2341  $500.00       1/20/14
2     Supplier X       001-1001         5467  $750.00       1/20/14
3     Supplier X       001-1001         5467  $750.00       1/20/14
4     Supplier Y        50-9501         7009  $250.00       1/30/14
5     Supplier Y        50-9501         7009  $250.00       1/30/14
6     Supplier Y        50-9505         6650  $125.00        2/3/14
7     Supplier Y        50-9505         6650  $125.00        2/3/14
8     Supplier Z       920-4803         3321  $615.00        2/3/14
9     Supplier Z       920-4804         3321  $615.00       2/10/14
10    Supplier Z       920-4805         3321  $615.00       2/17/14
11    Supplier Z       920-4806         3321  $615.00       2/24/14
3   Supplier X  001-1001    5467  $750.00  1/20/14
0          NaN       NaN     NaN      NaN      NaN
1          NaN       NaN     NaN      NaN      NaN
2          NaN       NaN     NaN      NaN      NaN
4   Supplier Y   50-9501  7009.0  $250.00  1/30/14
5   Supplier Y   50-9501  7009.0  $250.00  1/30/14
6   Supplier Y   50-9505  6650.0  $125.00   2/3/14
7   Supplier Y   50-9505  6650.0  $125.00   2/3/14
8   Supplier Z  920-4803  3321.0  $615.00   2/3/14
9          NaN       NaN     NaN      NaN      NaN
10         NaN       NaN     NaN      NaN      NaN
11         NaN       NaN     NaN      NaN      NaN

In [65]:
import numpy as np
np.random.seed(0)
df1 = pd.DataFrame(np.random.randn(100, 3),
                   index=pd.date_range('1/1/2018', periods=100),
                   columns=['A', 'B', 'C']).cumsum()
df1.tail()

                    A          B          C
2018-04-06   9.396256   6.282026 -11.198087
2018-04-07  10.086074   7.583872 -11.826175
2018-04-08   9.605047   9.887789 -12.886190
2018-04-09   9.469097  11.024680 -12.788465
2018-04-10  10.052051  10.625231 -12.418409

In [69]:
import matplotlib
import matplotlib.pyplot as plt

df1.plot()
plt.title("Pandas의 Plot메소드 사용 예")
plt.xlabel("시간")
plt.ylabel("Data")
plt.show()

ImportError: matplotlib is required for plotting.

In [70]:
iris = sns.load_dataset("iris")    # 붓꽃 데이터
titanic = sns.load_dataset("titanic")    # 타이타닉호 데이터

iris.sepal_length[:20].plot(kind='bar', rot=0)
plt.title("꽃받침의 길이 시각화")
plt.xlabel("Data")
plt.ylabel("꽃받침의 길이")
plt.show()

NameError: name 'sns' is not defined